.header {
  padding: 20px;
  background: darkred;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 40px;
}

.header a {
  color: white;
  text-decoration: underline;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: underline;
  }
  
